@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(42, 231, 139, 1);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(44, 56, 66, 1);
  border-radius: 5px;
  box-shadow: 0 0 0px 1px rgba(42, 231, 139, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 2px 3px rgba(42, 231, 139, 1);
}
